@font-face {
    font-family: VHSFont;
    src: url(../../Resources/VCR_OSD_MONO_1.001.ttf);
}

.HeaderComponent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.MenuComponent {
    order: 1;
    flex-grow: 2;
}

.TitleComponent {
    order: 2;
    flex-grow: 1;
}