body {
  background-color: rgb(0,128,128);
  padding: 10px;
}

.App {
  background-color: #282c34;
  min-height: 95vh;
}

.AppContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  height: 90vh;
  overflow: hidden;
}

.ImageComponent {
  order: 1;
  flex-grow: 5;
}

.ListComponent {
  order: 2;
  flex-grow: 1;
}