.ImageComponent {
    height: 95vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.5s;
}

.Grab {
    cursor: grab;
}

.Grabbed {
    cursor: grabbing;
}

.Hidden {
    display:none;
}

.LoadingScreen {
    position: fixed;
    width: 100%;
    height: 100%;

    text-align: center;
    padding-top: 30px;
}

.LoadingScreenOn {
    opacity: 0.3;

    transition-property: opacity;
    transition-duration: 0.5s;
}
