.EffectChoiceComponent {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;

  padding-top: 50px;
  text-align: center;
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.6);
}

.EffectChoiceContent {
  display: inline-block;
  width: 300px;
  background-color: white;
  padding: 20px;
}

.CloseCross {
  float: right;
  color: red;
}

.EffectChoiceList {
  list-style-type: none;
}

.EffectChoiceList li {
  text-align: left;
  height: 50px;
  line-height: 50px;

  border-bottom: black;
}